@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root{
    --amarelo: #ffe34b;
    --font-titles: 'Bebas Neue', sans-serif;
    --font-texts: 'Roboto', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;

}

a{
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

/*     HEADER     */


header{
    background-color: black;

}

li{
    list-style: none;
    font-family: var(--font-titles);
    font-size: 1.5em;
    padding-right: 30px;
}

header li:hover a{
    color: var(--amarelo);
    transition: .4s ease;
}

a{
    color: white;
    text-decoration: none;
}

#logo {
    padding-left: 40px;
  }
  
  #header {
    box-sizing: border-box;
    height: 90px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
  }
  
  #menu {
    display: flex;
    list-style: none;
    gap: 0.5rem;
  }
  
  #menu a {
    display: block;
    padding: 0.5rem;
  }
  
  #btn-mobile {
    display: none;
  }


 /*     HERO SECTION     */


.hero{
    display: flex;
    height: 89.9vh;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-image: linear-gradient(#272727, #4d4d4d);
}

.hero-content{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
}

.hero-content h1{
    color: var(--amarelo);
    font-family: var(--font-titles);
    font-size: 4em;
    gap: 50px;
}

.hero-content p{
    color: white;
    font-family: var(--font-texts);
    font-size:clamp(16px, 1.3em, 2em); 
    text-align: center;
    padding-bottom: 25px;
    
}

video{
    width: 750px;
    filter: drop-shadow(4px 4px 5px black);
}

button{
    background-color: var(--amarelo);
    width: 350px;
    padding: 10px;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: black;
    font-family: var(--font-titles);
    font-size: 1.8em;
}

button:hover{
    transform: scale(1.05);
    transition: .4s;
}

.portfolio{
    padding: 40px;
    text-align: center;
    font-family: var(--font-texts);
}

.portfolio h2{
    font-size: 2.2em;
}

.portfolio p{
    font-size: 1.3em;
}

.fotos{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 40px;
    align-items: center;
    text-align: center;
}

figure:hover{
    transform: scale(1.15);
    transition: 1s;
}

figcaption{
    font-family: var(--font-titles);
    font-size: 1.5em;
    padding: 15px 0px 50px 0px;
    text-decoration: none;
    color: black;
}

.video{
    display: flex;
    flex-direction: row-reverse;
    height: 89.9vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 70px;
    background-image: linear-gradient(#272727, #4d4d4d);
}

.video-content{
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: left;
    justify-content: center;
}

.video-content h1{
    color: var(--amarelo);
    font-family: var(--font-titles);
    font-size: 4em;
    gap: 50px;
}

.video-content p{
    color: white;
    font-family: var(--font-texts);
    font-size: 1.3em;
    padding-bottom: 25px;
    
}

.video-insta{
    width: 600px;
    cursor: pointer;
}

video{
    width: 750px;
    filter: drop-shadow(4px 4px 5px black);
}

button{
    background-color: var(--amarelo);
    width: 350px;
    padding: 10px;
    cursor: pointer;
}

button a{
    text-decoration: none;
    color: black;
    font-family: var(--font-titles);
    font-size: 1.8em;
}

button:hover{
    transform: scale(1.05);
    transition: .4s;
}

.reviews{
    text-align: center;
}


.reviews h2{
    font-family: var(--font-texts);
    text-align: center;
    font-size: 2.2em;
    padding: 50px;
}

footer{
    background-image: linear-gradient(#272727, #2e2e2e);
    color: white;
    text-align: left;
    justify-content: center;
    padding: 20px;
}

footer h2{
    display: grid;
    font-family: var(--font-titles);
    color: white;
    font-size: 3em;
    align-items: center;
    justify-content: center;
}

.socialIcons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.socialIcons a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: var(--amarelo);
    padding: 10px;
    margin: 10px;
    border-radius: 50%;
    font-size: 1.8em;
    color: black;
}

.socialIcons a:hover{
    background-color: black;
    transition: .4s ease;
}

.socialIcons a:hover i{
    color: var(--amarelo);
    transform: .4s ease;
}

.footerNav{
    margin: 15px 0px;
}

.footerNav ul{
    display: flex;
    justify-content: center;
}

.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    font-family: var(--font-texts);
    font-weight: 700;
}

.footerNav ul li a:hover{
    color: var(--amarelo);
    transition: .4s ease;
}

.creditos{
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px;
    font-family: var(--font-texts);
}

.creditos b a{
    font-weight: 900;
    color: var(--amarelo);
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    

        video{
            width: 90vw;
            filter: none;
        }

        .hero{
            display: grid;
            
        }

        .video-content h1{
            font-size: 3em;
            padding-top: 30px;
        }

        .hero h1{
            font-size: 2.3em;
            padding: 20px 0px;
            width: 90vw;
            text-align: center;
        }

        .hero p{
            width: 90vw;
        }

        .hero-content{
            width: 90vw;
        }


        nav{
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .logo{
            padding: 0;
        }

        button{
            max-width: 70%;
        }

        .footerNav ul{
            display: flex;
            flex-direction: column;
            text-align: center;
        }

        .hero{
            height: fit-content;
            gap: 0;
        }

        .fotos{
            grid-template-columns: 1fr;
        }

        #portfolio{
            padding: 20px 0 0 0;
        }

            
        .video{
            display: grid;
            height: auto;
            align-items: center;
            justify-content: center;
            padding-bottom: 30px;
        }

        .video-content{
            max-width: 80vw;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .video-insta{
            max-width: 80vw;
        }

        .reviews h2{
            max-width: 80vw;
            padding: 30px;
        }

        .hero-video{
            padding: 30px 0;
        }

        #logo {
            padding-left: 0px;
          }
        
        li{
            font-size: 1em;
            padding-right: 0px;
        }


        /*   MENU MOBILE   */

        #menu {
            display: block;
            position: absolute;
            width: 100%;
            top: 70px;
            right: 0px;
            background: black;
            transition: 0.6s;
            z-index: 1000;
            height: 0px;
            visibility: hidden;
            overflow-y: hidden;
            text-align: center;
          }
          #nav.active #menu {
            height: 287px;
            visibility: visible;
            overflow-y: auto;
          }
          #menu a {
            padding: 1rem 0;
            margin: 0 1rem;
            border-bottom: 2px solid rgba(0, 0, 0, 0.05);
            font-family: var(--font-titles);
            font-size: 1.4em;
            border-bottom: 1px rgb(57, 57, 57) solid;
          }
          #btn-mobile {
            display: flex;
            padding-right: 20px;
            width: 20vw;
            font-size: 1rem;
            border: none;
            background: none;
            cursor: pointer;
            gap: 0.5rem;
          }
          #hamburger {
            border-top: 2px solid;
            width: 20px;
            color: var(--amarelo);
          }
          #hamburger::after,
          #hamburger::before {
            content: '';
            display: block;
            width: 20px;
            height: 2px;
            background: currentColor;
            margin-top: 5px;
            transition: 0.3s;
            position: relative;
          }
          #nav.active #hamburger {
            border-top-color: transparent;
          }
          #nav.active #hamburger::before {
            transform: rotate(135deg);
          }
          #nav.active #hamburger::after {
            transform: rotate(-135deg);
            top: -7px;
          }

          .first{
            padding-top: 39px;
          }
    }